nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav .title {
    margin: 0;
    margin-right: 15px;
    font-weight: bold;
}

nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav > ul > li { 
    list-style: none;
}

nav > ul > li > a {
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
} 